// Resets, variables, mixins etc.

// Font Import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Global Reset
* {
    margin: 0;
    padding: 0;
}

// Variables

$primary-color: #BAE8E8;
$secondary-color: #272643;
$paragraph-color: #8C9CB1;
$landing-page-background-color: #F7FAFA;
$black: #000000;
$white: #FFFFFF;

$primary-font: 'Roboto', sans-serif;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Global body styling

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: $primary-font;
}

//Global Button Styling

  
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAE8E8;
    border: 1px solid #272643;
    border-radius: 10px;
    height: 10%;
    padding: 8px;
    font-size: 1.1em;
    cursor: pointer;
}