// Resets, variables, mixins etc.
* {
    margin: 0;
    padding: 0;
}

$primary-color: #BAE8E8;
$secondary-color: #272643;
$paragraph-color: #8C9CB1;
$landing-page-background-color: #F7FAFA;
$black: #000000;
$white: #FFFFFF;
