// Reusable components (buttons/navbars/cards)
@use "./base" as *;

// iPhone 13 Pro Max

@media only screen and (max-width: 576px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $primary-font;
    }

    .navbar {
        
        @include flexCenter();
        justify-content: space-between;
        padding: 0px 20px;
        height: 10vh;
        width: 90vw;

        &__logo-text {
            font-size: 1.8em;
            color: $secondary-color;
        }

        &__logo {
            color:$primary-color;
        }

        &__links-list {
            display: none;
        }

    }

    .landing {

        @include flexCenter();
        flex-direction: column;
        padding: 20px 10px;
        height: 80vh;
        width: 90vw;
        background-color: $landing-page-background-color;

        &__sub-welcome {
            color: $paragraph-color;
            font-size: 1.25em;
            align-self: flex-start;
            -webkit-text-stroke: 1px $black;
        }

        &__main-welcome {
            color: $secondary-color;
            font-size: 4em;
        }
    }



}