@use "./base" as *;

// Laptop+ Styling

@media only screen and (min-width: 769px) {
    body {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      font-family: $primary-font;
    }
  
    .navbar {
      @include flexCenter();
      justify-content: space-between;
      height: 10vh;
      margin: 0% 2.5%;
  
      &__logo-text {
        font-size: 1.8em;
        color: $secondary-color;
      }
  
      &__logo {
        color: $primary-color;
      }
  
      &__links-list {
          @include flexCenter();
          list-style-type: none;
      }
      
      &__link {
          margin: 0px 20px;
          text-decoration: none;

          :link, :visited, :hover {
            text-decoration: none;
          }
      }

      &__button {
        font-weight: bold;
        width: 80%;
        height: 10%;
      }
  
      &__mobile-menu {
          visibility: hidden;
      }
    }
  
    .landing {
      @include flexCenter();
      flex-direction: column;
      justify-content: center;
      padding: 0px 10px;
      height: 85vh;
      background-color: $landing-page-background-color;
      padding: 0% 2.5%;
      text-align: center;
  
      &__sub-welcome {
        color: $paragraph-color;
        font-size: 2em;
        -webkit-text-stroke: 1px $black;
      }
  
      &__main-welcome {
        color: $secondary-color;
        font-size: 4em;
      }
  
      &__button {
        box-shadow: 5px 5px $secondary-color;
        font-size: 1.25em;
        font-weight: bold;
        width: 30%;
        height: 10%;
        margin-top: 50px;
      }
    }
  
    .technical-skills {
      @include flexCenter();
      justify-content: space-evenly;
      margin: 50px 0px;
      flex-wrap: wrap;
      height: 60vh;
      padding: 0% 2.5%;
  
      &__title {
        font-size: 2em;
        width: 100%;
        text-align: center;
      }

      &__description {
        font-size: 1.2em;
        text-align: center;
        color: $paragraph-color;
        width: 40%;
      }
  
      &__list {
        @include flexCenter();
        width: 100%;
        list-style-type: none;
        justify-content: space-evenly;
      }
  
      &__item {
        @include flexCenter();
        flex-direction: column;
        font-size: 1.2em;
      }
  
      &__logo {
        font-size: 3.5em;
        margin-bottom: 15px;
        color: $primary-color;
      }
    }

    .projects-container {
      @include flexCenter();
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 5% 2.5%;
  
      &__title {
        font-size: 2em;
        align-self: flex-start;
        width: 100%;
        text-align: center;
        margin-bottom: 4%;
      }
    }
  
    .project {
      @include flexCenter();
      align-items: flex-start;
      flex-direction: column;
      padding: 20px;
      width: 25%;
  
      &__image {
        width: 100%;
        align-self: center;
      }
  
      &__technologies {
        font-size: 1em;
        color: $primary-color;
        margin: 4% 0% 2% 0%;
      }
  
      &__title {
        font-size: 2.2em;
        margin-bottom: 5%;
      }
  
      &__description {
        margin-bottom: 5%;
        color: $paragraph-color;
      }
  
      &__links {
        @include flexCenter();
        justify-content: space-between;
        width: 100%;
      }
  
      &__link {
        font-size: 1.2em;
      }
    }
  
    .about {
      @include flexCenter();
      flex-wrap: wrap;
      padding: 0% 2.5% 20% 0%;
  
      &__title {
        padding: 7% 0% 7% 0%;
        font-size: 3em;
        width: 100%;
        text-align: center;
      }
  
      &__image {
        width: 35%;
      }
  
      &__info {
        font-size: 1.2em;
        line-height: 1.7em;
        color: $paragraph-color;
        width: 50%;
        margin: 0% 2%;
        font-size: 1.1em;
      }
    }
  
    .footer {
      @include flexCenter();
      flex-direction: column;
      color: $primary-color;
      background-color: $black;
      height: 25vh;
      justify-content: space-evenly;
      margin-top: 20px;
      width: 100%;
  
      &__list {
        @include flexCenter();
        font-size: 2em;
        list-style-type: none;
        text-decoration: none;
      }
  
      &__item {
        @include flexCenter();
        margin: 0px 20px;
        background-color: $primary-color;
        border-radius: 30px;
        width: 50px;
        height: 50px;
        text-align: center;
      }
  
      &__link {
        text-decoration: none;
      }
    }
  
    .button {
      @include flexCenter();
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      border-radius: 10px;
    }
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAE8E8;
    border: 1px solid #272643;
    border-radius: 10px;
    height: 10%;
    padding: 8px;
    font-size: 1.1em;
    cursor: pointer;
  }