@use "./base" as *;

// Mobile - Tablet Styling

@media only screen and (max-width: 768px) {

  .navbar {
    @include flexCenter();
    justify-content: space-between;
    height: 10vh;
    margin: 0% 2.5%;

    &__logo-text {
      font-size: 1.8em;
      color: $secondary-color;
    }

    &__logo {
      color: $primary-color;
    }

    &__links-list {
      display: none;
    }
  }

  .landing {
    @include flexCenter();
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 10px;
    height: 85vh;
    background-color: $landing-page-background-color;
    margin: 0% 2.5% 10% 2.5%;

    &__sub-welcome {
      color: $paragraph-color;
      font-size: 1.25em;
      -webkit-text-stroke: 1px $black;
    }

    &__main-welcome {
      color: $secondary-color;
      font-size: 4em;
    }

    &__button {
      box-shadow: 5px 5px $secondary-color;
      font-size: 1.25em;
      font-weight: bold;
      width: 80%;
      height: 10%;
      justify-self: flex-end;
    }
  }

  .technical-skills {
    @include flexCenter();
    flex-direction: column;
    margin: 50px 0px;
    margin: 0% 2.5%;

    &__title {
      font-size: 2em;
    }

    &__description {
      display: none;
    }

    &__list {
      list-style-type: none;
      display: grid;
      grid-template: repeat(3, 200px) / 30vw 30vw 30vw;
    }

    &__item {
      @include flexCenter();
      flex-direction: column;
      font-size: 1.2em;
    }

    &__logo {
      font-size: 3.5em;
      margin-bottom: 15px;
      color: $primary-color;
    }
  }

  .projects-container {
    @include flexCenter();
    flex-direction: column;

    &__title {
      font-size: 2em;
    }
  }

  .project {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    &__extra {
      display: none;
    }

    &__image {
      width: 100%;
    }

    &__technologies {
      font-size: 1em;
      color: $primary-color;
      margin: 4% 0% 2% 0%;
    }

    &__title {
      font-size: 2.2em;
      margin-bottom: 5%;
    }

    &__description {
      margin-bottom: 5%;
      color: $paragraph-color;
    }

    &__links {
      @include flexCenter();
      flex-direction: row;
      align-items: flex-start;
    }

    &__link {
      font-size: 1.2em;
      margin-right: 50px;
    }
  }

  .about {
    @include flexCenter();
    flex-direction: column;
    width: 70%;
    align-self: center;
    margin: 0% 2.5%;

    &__title {
      padding: 20% 0% 10% 0%;
      font-size: 3em;
    }

    &__image {
      width: 100%;
      margin-bottom: 50px;
    }

    &__info {
      font-size: 1.2em;
      line-height: 1.7em;
      margin: 20px 10px;
      color: $paragraph-color;
    }
  }

  .footer {
    @include flexCenter();
    flex-direction: column;
    color: $primary-color;
    background-color: $black;
    height: 25vh;
    justify-content: space-evenly;
    margin-top: 20px;

    &__list {
      @include flexCenter();
      font-size: 2em;
      list-style-type: none;
      text-decoration: none;
    }

    &__item {
      @include flexCenter();
      margin: 0px 20px;
      background-color: $primary-color;
      border-radius: 30px;
      width: 50px;
      height: 50px;
      text-align: center;
      color: $black;
    }

    &__link {
      text-decoration: none;
      color: $paragraph-color
    }
  }
}